table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.logo{
    background-color: #1371d7;
}

.header-desktop{
    background: linear-gradient(to right, #1371d7, #5fa8e3);
}

.menu-sidebar__content{
    background: linear-gradient(to bottom, #1371d7, #5fa8e3);
}